body {
    background-color: rgb(153, 23, 49);
    font-family: 'Centrion High';
}

.image-container img {
    width: 500px;
    /* Adjust image width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

/* css for square animation */

.opacity-affect {
    background-color: rgb(202, 180, 223);
    padding: 30px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);

}

@font-face {
    font-family: 'Centrion High';
    src: url(../../assests/Centrion-High.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;

}

a:link {
    color: rgb(175, 22, 50);
}

a:visited {
    color: rgb(175, 22, 50);
}